/*
	proscom.ru
	Простые Коммуникации
*/

// ГЛОБАЛЬНЫЙ СБРОС
// ==================================================
html, body
	position relative;
*
	margin 0; padding 0; border 0; outline 0



// ПЛЮШКИ
// ==================================================
clearfix()
	&:before
	&:after
		content: ""; display: table; clear: both
pointer()
	cursor pointer
full()
	width 100%; box-sizing border-box
mrno()
	margin 0
pdno()
	padding 0
cover()
	background-size cover
hide()
	display none

.clear
	clearfix()
.hide
	hide()
full()
	box-sizing border-box
anim()
	transition 0.3s 0.01s ease
anim-long()
	transition 0.5s 0.05s ease
anim-all()
	transition all 0.3s 0.01s ease
anim-op()
	transition opacity 0.3s 0.01s ease
anim-bg()
	transition background-image 0.3s 0.01s ease;
anim-bgcolor()
	transition background-color 0.3s 0.01s ease;
.float-right
	float right;
.align-center
	text-align center;


// ТЕКСТ
// ==================================================
OpenSans()
	font-family 'Open Sans', sans-serif
light()
	font-weight 300
semibold()
	font-weight 400
med()
	font-weight 500
bold()
	font-weight 700
white()
	color #fff
black()
	color #444; 
tdn()
	text-decoration none;
.sbblue
	color #3cb4c7; semibold();
.blue
	color #3cb4c7;
p
	margin-bottom 20px; line-height normal;
body
	font-size 14px; color #7e8084; OpenSans(); light();



// СПИСКИ
// ==================================================
ul
	margin 0 0 15px 0
	li
		margin 0 0 15px 15px; list-style disc outside;
		ul, ol
			margin 15px 0 10px 0
	li.active
		a
			cursor default;
ol
	margin 0 0 15px 0
	li
		margin 0 0 15px 15px; list-style decimal outside;
		ul, ol
			margin 15px 0 10px 0
lino()
	margin 0; list-style none
	li
		margin 0
		list-style none

ol.float, ul.float
	clearfix()
	li 
		float left; width 50%; margin-left 0; full()
ul.list-sq
	li
		list-style outside none; margin 0 0 10px 0; padding-left 12px; background url("../img/main/list-sep.png") 0 11px no-repeat;  
ul.mrno
	margin 0;

// ССЫЛКИ
// ==================================================
a
	color #3bb3c7; text-decoration none; transition color 0.3s 0.01s ease
	&:hover
		text-decoration underline;
	&.active 
		cursor default

	&.btn-grey
		display inline-block; width 100%; full(); padding 20px 20px; 
		color #6b6a6a; font-size 18px; light(); white-space nowrap; text-align center;
		border 2px solid #cacaca; anim(); 
			&:hover
				color #fff; background #bdbdbd; border 2px solid #bdbdbd; tdn();
	&.btn-blue
		display inline-block; full(); padding 20px 30px; 
		color #fff; font-size 16px; text-transform uppercase; light(); white-space nowrap; text-align center;
		background #39acbe; border-radius 3px; anim();
		&:hover
			background #57b8c8; tdn();
	&.btn-white
		display inline-block; full(); padding 18px 30px; 
		color #a5a8ac; font-size 16px; text-transform uppercase; light(); white-space nowrap; text-align center;
		background #fff; border: 2px solid #c8cbd0; border-radius 3px; anim();
		&:hover
			color #fff; tdn(); background #c8cbd0; border-color: #c8cbd0;
	&.btn-small
		min-width 150px; padding 15px 15px; full(); font-size 14px;
		&:hover
			tdn();
	&.btn-small.btn-white
		padding 13px 15px;



// ЗАГОЛОВКИ
// ==================================================
h1, h2, h3, h4, h5, h6
	margin 0 0 30px 0; color #7e8084; text-transform uppercase; OpenSans(); semibold(); 
h1
	font-size 18px;
h2
	font-size 14px; med();
h3
	font-size 16px
h4
	font-size 16px



// ИНПУТЫ
// ==================================================
label, input, button, select, textarea
	color #939598; font-size 16px; light()
select
	width 260px; margin 0 0 10px 0; padding 19px; background #fff; border 2px solid #cacaca; full(); 

input[type="text"], input[type="password"]
	width 300px; padding 20px 20px; margin-bottom 10px; background none; border 2px solid #f0f0f0; border-radius 7px; anim(); 
	&:hover
		border-color: #a1d4db;
	&:focus
		border-color: #a1d4db;
	&.error
		box-shadow none; border-color: #ff0000; box-shadow none
	&.valid
		border-color: #3ac020
		
input[type="submit"]
	width auto; padding 20px 20px; background none; border 2px solid #cacaca; anim()
	&:hover
		color #fff; background #79cfce; border 2px solid #79cfce;

textarea
	width 238px; max-width 100%; height 150px; padding 20px; background #fff; border 2px solid #f0f0f0; border-radius 7px; anim(); 
	&:hover
		border-color: #a1d4db;
	&:focus
		border-color: #a1d4db;
	&.error
		border-color: #ff0000
	&.valid
		border-color: #3ac020

input[type="checkbox"]
	width:auto; margin:0; padding:0; background:none; border:none; border-right:none;
input[type="checkbox"] + label
	cursor:pointer; line-height:35px; margin:0px 10px 0px 0px; font-size 16px;
input[type="checkbox"] + label::before
	content:""; display:inline-block; height:16px; width:16px; margin:0 10px -2px 0; 
	background:url("../img/main/checkbox.png") no-repeat;
input[type="checkbox"]
	display:none;
input[type="checkbox"]:disabled
	display:none;
input[type="checkbox"]:disabled + label
	cursor:default;
input[type="checkbox"] + label:hover
	color #3cb4c7;
input[type="checkbox"] + label:hover::before
	background-position:0px -16px;
input[type="checkbox"]:checked + label
	opacity 1;
input[type="checkbox"]:checked + label::before
	background-position:0px -32px;
input[type="checkbox"]:checked + label:hover::before
	background-position:0px -32px;
input[type="checkbox"]:disabled + label::before
	background-position:0px 0px;
input[type="checkbox"]:checked:disabled + label::before
	background-position:0px -32px;

input[type="radio"] + label 
	cursor:pointer; font-size:16px; line-height:30px; margin:0px 20px 0px 0px;
input[type="radio"] + label::before 
	content:""; display:inline-block; height:16px; width:16px; margin:0 8px -3px 0px; 
	background:url("../img/radio.png") no-repeat;
input[type="radio"] 
	display:none;
input[type="radio"]:disabled 
	display:none;
input[type="radio"]:disabled + label 
	cursor:default;
input[type="radio"] + label:hover::before
	opacity 0.8;
input[type="radio"] + label::before 
	background-position:0px 0px;
input[type="radio"]:checked + label::before 
	background-position:0px -17px;
input[type="radio"]:disabled + label::before 
	background-position:0px 0px;
input[type="radio"]:checked:disabled + label::before 
	background-position:0px -17px;

button 
	background none

.select-wrap
	position relative; font-size 15px;
	&:hover
		.select
			border-color #f5f5f5;
	.select
		position relative; 
		overflow hidden		
		min-height 20px; padding 10px 30px 15px 15px; border 2px solid #f0f0f0; border-radius 7px; cursor pointer;
		background #fff;
		text-overflow ellipsis
		overflow hidden
		height 25px
		line-height 30px
		&.active
			border-radius 7px 7px 0 0;
			border-color #f5f5f5;
			.arrow
				transform rotate(180deg); 
		.arrow
			position absolute; width 13px; height 7px; right 20px; top 50%; content " ";
			margin-top -2px
			background url("../img/main/arrow-b-down.png") 0 0 no-repeat;
			anim();
	ul.option-list
		display:none; overflow hidden; z-index 5; 
		position absolute; left 0; top 0px; width 100%; full(); border-radius 0 0 7px 7px;
		lino();
		background #fff; border 2px solid #f0f0f0; border-top none;
		li
			padding 10px 15px; 
			cursor pointer;
			&:hover
				color #fff; background #63c3d2; 
			&.active
				color #fff; background #3cb4c7; cursor default;
		li:last-child
			border-bottom none;
	&.relative
		ul.option-list
			position relative; left 0; top 0;
			


// ТАБЛИЦЫ
// ==================================================
table
	width 100%;
	td
		vertical-align top


.remodal
	.ins
		h3
			margin-bottom 20px; text-align center; 