doctype html
html(lang="ru")
	include _head

	body
		#shikarniy
			.hide.popup
				.remodal.career-item-pop(data-remodal-id="career-pop")
					.ins
						.item
							.icon.educ
								.bg
							.insided
								.name Лицей 1543
								.post Ученик учителя
								.desc Lorem Ipsum - это текст-"рыба", часто
							.dates
								.date.left
									.date-icon
									.date-text
										| Май
										.year 2005
								.date.right
									.date-icon
									.date-text
										| Декабрь
										.year 2008
						.close
							a(href="#").btn-blue Закрыть
			.hide.popup
				.remodal.text-pop(data-remodal-id="text-pop")
					.ins
						.text
							h3 карта траекторий еще не создана
							p Для построения карты карьерных тракеторий вам необходимо добавить хотя бы одну цель.
						.close
							a(href="#").btn-blue Добавить цель
			.sidebar
				.logo
					a(href="#")
				.user
					a(href="#").settings.hoverbg
						.icon
							.act
					.age.man (22)
					.pic
						img(src="img/content/user-ava.png", alt="")
					.name анастасия <br>Романовская
					.contacts
						div.phone 8 (916) 364-85-92
						div.email
							a(href="#") anastas@mail.com
				.menu
					ul
						li.home
							a(href="#") Мой профиль
						li.career.active
							a(href="#") Моя карьера
						li.work
							a(href="#") Моя работа
						li.educ
							a(href="#") Мое образование
				.logo-ibs
					a(href="#")
			//-----------------------------------------------
			.main-page
				.topper
					.main-width
						.info
							.exit
								a(href="#")
									.icon
							.notafication
								a(href="#")
									.icon
									.count 16
						.search
							form(action="#")
								input(type="text", placeholder="Поиск").filed
								input(type="submit", value="").submit
				//-----------------------------------------------
				.main-width
					.wbox
						.wbox-name.no-bd
							h2 Моя карьера
						.wbox-menu
							a(href="#").hoverbg
								.icon
									.act
					.wbox-tabs
						ul.tabs-nav
							li
								a(href="#tab-1") карьерные траектории 
							li
								a(href="#tab-2") профориентирование
						#tab-1
							.wbox-white
								.works-time
									.hide-bg-r
									.hide-bg-l
									.slider-wrap
										.item
											.icon.educ
												.bg
											.ins
												.name Лицей 1543
												.post Ученик учителя
												.desc Lorem Ipsum - это текст-"рыба", часто
											.dates
												.date.left
													.date-icon
													.date-text
														| Май
														.year 2005
												.date.right
													.date-icon
													.date-text
														| Декабрь
														.year 2008
										.item
											.icon.work
												.bg
											.ins
												.name ООО “Почта росии”
												.post Cпециалист
												.desc Lorem Ipsum - это текст-"рыба", печати и вэб-дизайне. 
											.dates
												.date.left
													.date-icon
													.date-text
														| Май
														.year 2005
												.date.right
													.date-icon
													.date-text
														| Декабрь
														.year 2008
										.item
											.icon.work
												.bg
											.ins
												.name “Ренессанс капитал”
												.post Аналитик
												.desc Lorem Ipsum - это текст-"рыба", часто
											.dates
												.date.left
													.date-icon
													.date-text
														| Май
														.year 2005
												.date.right
													.date-icon
													.date-text
														| Декабрь
														.year 2008
										.item
											.icon.educ
												.bg
											.ins
												.name Лицей 1543
												.post Ученик учителя
												.desc Lorem Ipsum - это текст-"рыба", часто
											.dates
												.date.left
													.date-icon
													.date-text
														| Май
														.year 2005
												.date.right
													.date-icon
													.date-text
														| Декабрь
														.year 2008
										.item
											.icon.work
												.bg
											.ins
												.name ООО “Почта росии”
												.post Cпециалист
												.desc Lorem Ipsum - это текст-"рыба", печати и вэб-дизайне. 
											.dates
												.date.left
													.date-icon
													.date-text
														| Май
														.year 2005
												.date.right
													.date-icon
													.date-text
														| Декабрь
														.year 2008
										.item
											.icon.work
												.bg
											.ins
												.name “Ренессанс капитал”
												.post Аналитик
												.desc Lorem Ipsum - это текст-"рыба", часто
											.dates
												.date.left
													.date-icon
													.date-text
														| Май
														.year 2005
												.date.right
													.date-icon
													.date-text
														| Декабрь
														.year 2008
										.item
											.icon.educ
												.bg
											.ins
												.name Лицей 1543
												.post Ученик учителя
												.desc Lorem Ipsum - это текст-"рыба", часто
											.dates
												.date.left
													.date-icon
													.date-text
														| Май
														.year 2005
												.date.right
													.date-icon
													.date-text
														| Декабрь
														.year 2008
										.item
											.icon.work
												.bg
											.ins
												.name ООО “Почта росии”
												.post Cпециалист
												.desc Lorem Ipsum - это текст-"рыба", печати и вэб-дизайне. 
											.dates
												.date.left
													.date-icon
													.date-text
														| Май
														.year 2005
												.date.right
													.date-icon
													.date-text
														| Декабрь
														.year 2008
										.item
											.icon.work
												.bg
											.ins
												.name “Ренессанс капитал”
												.post Аналитик
												.desc Lorem Ipsum - это текст-"рыба", часто
											.dates
												.date.left
													.date-icon
													.date-text
														| Май
														.year 2005
												.date.right
													.date-icon
													.date-text
														| Декабрь
														.year 2008
										.item
											.icon.educ
												.bg
											.ins
												.name Лицей 1543
												.post Ученик учителя
												.desc Lorem Ipsum - это текст-"рыба", часто
											.dates
												.date.left
													.date-icon
													.date-text
														| Май
														.year 2005
												.date.right
													.date-icon
													.date-text
														| Декабрь
														.year 2008
										.item
											.icon.work
												.bg
											.ins
												.name ООО “Почта росии”
												.post Cпециалист
												.desc Lorem Ipsum - это текст-"рыба", печати и вэб-дизайне. 
											.dates
												.date.left
													.date-icon
													.date-text
														| Май
														.year 2005
												.date.right
													.date-icon
													.date-text
														| Декабрь
														.year 2008
										.item
											.icon.work
												.bg
											.ins
												.name “Ренессанс капитал”
												.post Аналитик
												.desc Lorem Ipsum - это текст-"рыба", часто
											.dates
												.date.left
													.date-icon
													.date-text
														| Май
														.year 2005
												.date.right
													.date-icon
													.date-text
														| Декабрь
														.year 2008
									.dots
										ul
											li.pink
												a(href="#")
											li.blue.active
												a(href="#")
											li.blue-dark.disable
												a(href="#")
											li.green.disable
												a(href="#")
							.graphbox
								.topbl
									a(href="#").slider-nav.left.hoverbg
										.icon
											.act
									a(href="#").slider-nav.right.hoverbg
										.icon
											.act
									.target
										.name Целевая позиция
										.desc В крупной IT-компании
									.profit
										.name Информационные технологии
										.desc
											.va Доход
											.count 1 000 000
											.sep 
											.count 2 000 000
									.bg
								.graph-content
									.recomends
										a(href="#text-pop").btn-white.btn-small рекомендации выкл
									.terms
										ul.switch.js-graph-times
											li.switch-con
												.switch-line
													.switch-dot
											li.item
												a(href="#") Сроки <span>выкл</span>
									.ways
										ul
											li.pink
												a(href="#career-pop") 1
											li.blue.active
												a(href="#career-pop") 2
											li.blue-dark.disable
												a(href="#career-pop") 3
											li.green.disable
												a(href="#career-pop") 4
									.graph
										a(href="#").hoverbg.remove
											.icon
												.act
										a(href="#").hoverbg.add
											.icon
												.act
										.graph-bg-full
										.graph-inside
											.element.element-1
												.prev
													img(src="img/main/icon-port.png", alt="")
												.hidden-box 
													h3 JEts media
													p.blue Стажер
													p Lorem Ipsum - это текст-рыба												
											a(href="#").open-graphbox-element
												img(src="img/main/graph.png", alt="")
											.element-time(style="left:-50px; top:310px;") 2004 год
											.element-time(style="left:303px; top:660px;") 2012 год
											.element-time(style="left:235px; top:450px;") Другая дата
								.botbl
									.target
										.name Текущая позиция
										.desc Менеджер по продажам
									.profit
										.name танковая промышленность
										.desc
											.va Доход
											.count 500 000
											.sep 
											.count 100 000
									.bg
									
						.wbox-white#tab-2
							.empty-tab Вкладка для контента
				