doctype html
html(lang="ru")
	include _head

	body
		#shikarniy
			.sidebar
				.logo
					a(href="#")
				.user
					a(href="#").settings.hoverbg
						.icon
							.act
					.age.man (22)
					.pic
						img(src="img/content/user-ava.png", alt="")
					.name анастасия <br>Романовская
					.contacts
						div.phone 8 (916) 364-85-92
						div.email
							a(href="#") anastas@mail.com
				.menu
					ul
						li.home
							a(href="#") Мой профиль
						li.career.active
							a(href="#") Моя карьера
						li.work
							a(href="#") Моя работа
						li.educ
							a(href="#") Мое образование
				.logo-ibs
					a(href="#")
			//-----------------------------------------------
			.main-page
				.topper
					.main-width
						.info
							.exit
								a(href="#")
									.icon
							.notafication
								a(href="#")
									.icon
									.count 16
						.search
							form(action="#")
								input(type="text", placeholder="Поиск").filed
								input(type="submit", value="").submit
				//-----------------------------------------------
				.main-width
					.wbox
						.wbox-name.no-bd
							h2 Моя карьера
						.wbox-menu
							a(href="#").hoverbg
								.icon
									.act
					.wbox-tabs
						ul.tabs-nav
							li
								a(href="#tab-1") карьерные траектории
							li
								a(href="#tab-2") профориентирование
						#tab-1
							.wbox-white.select-horizon
								.name
									h3 Выберите горизонт планирования
								.content
									table
										tr
											td
												.ins
													.point
														a(href="#")
														.time 3 года
											td
												.ins
													.point
														a(href="#")
														.time 3 года
											td
												.ins
													.point
														a(href="#")
														.time 3 года
											td.active
												.ins
													.point
														a(href="#")
														.time 3 года
											td
												.ins
													.point
														a(href="#")
														.time 3 года
											td
												.ins
													.point
														a(href="#")
														.time 3 года
											td
												.ins
													.point
														a(href="#")
														.time 3 года
											td
												.ins
													.point
														a(href="#")
														.time 3 года
											td
												.ins
													.point
														a(href="#")
														.time 3 года
											td
												.ins
													.point
														a(href="#")
														.time 3 года
											td
												.ins
													.point
														a(href="#")
														.time 3 года
											td
												.ins
													.point
														a(href="#")
														.time 3 года
								.desc Трех летний период планирования используется для постановки краткосрочных целей и для определения ближайших карьерных задач
							.wbox-white.bdr
								.career-targets
									.name
										h3 Определите свои карьерные цели
									.line
										.inform.inform-1 Для трехлетнего горизонта планирования позиция директора довольно амбициозная цель. Рекомендуем Вам пересмотреть свои ожидания
										.select-wrap
											input(type="hidden" name="" value="")
											.select
												span.title Желаемая должность
												span.arrow
											ul.option-list
												li(data-value="1") Начальник
												li(data-value="2") Специалист
												li(data-value="2") Рабочий
												li(data-value="2") Человек с Большой буквы
												li(data-value="2") Доброта
									.line
										.inform.inform-2 Вы планируете увеличить свой доход за 3 года в 3 раза. Рекомендуем вам повысить свою квалификацию. Проверьте доступные образовательные программы
										.line-name Ожидаемый доход
										.range-income
											input(type="text" name="example_name")
									.line
										.inform.inform-3 Отличный выбор с учетом вашего образования
										.select-wrap
											input(type="hidden" name="" value="")
											.select
												span.title Предполагаемая отрасль
												span.arrow
											ul.option-list
												li(data-value="1") Начальник
												li(data-value="2") Специалист
												li(data-value="2") Рабочий
												li(data-value="2") Человек с Большой буквы
												li(data-value="2") Доброта
									.line
										.box
											.check
												input(id="check-1" type="checkbox")
												label(for="check-1") Учитывать тип личности
											.check
												input(id="check-2" type="checkbox" checked="checked")
												label(for="check-2") Lorem Ipsum это текст-рыба, часто
										.box
											.check
												input(id="check-3" type="checkbox")
												label(for="check-3") Есть много вариантов Lorem Ipsum, но большинство
											.check
												input(id="check-4" type="checkbox" checked="checked")
												label(for="check-4") Lorem Ipsum это текст-рыба