doctype html
html(lang="ru")
	include _head

	body
		#shikarniy
			.sidebar
				.logo
					a(href="#")
				.user
					a(href="#").settings.hoverbg
						.icon
							.act
					.age.man (22)
					.pic
						img(src="img/content/user-ava.png", alt="")
					.name анастасия <br>Романовская
					.contacts
						div.phone 8 (916) 364-85-92
						div.email
							a(href="#") anastas@mail.com
				.menu
					ul
						li.home
							a(href="#") Мой профиль
						li.career.active
							a(href="#") Моя карьера
						li.work
							a(href="#") Моя работа
						li.educ
							a(href="#") Мое образование
				.logo-ibs
					a(href="#")
			//-----------------------------------------------
			.main-page
				.topper
					.main-width
						.info
							.exit
								a(href="#")
									.icon
							.notafication
								a(href="#")
									.icon
									.count 16
						.search
							form(action="#")
								input(type="text", placeholder="Поиск").filed
								input(type="submit", value="").submit
				//-----------------------------------------------
				.main-width
					.wbox
						.wbox-name.no-bd
							h2 Моя карьера
						.wbox-menu
							a(href="#").hoverbg
								.icon
									.act
					.wbox-tabs
						ul.tabs-nav
							li
								a(href="#tab-1") карьерные траектории 
							li
								a(href="#tab-2") профориентирование
						.wbox-white#tab-1
							.title-blue
								h3 Выберите тест
							.wbox-select-test
								.line.top
									.num #
									.name Название теста
									.rating Рейтинг
									.start
								.line
									.num 1
									.name Название теста один. Lorem Ipsum - это текст-"рыба", часто используемый
									.rating
										ul
											li.full
											li.full
											li.full
											li.full
											li
									.start
										a(href="#").btn-blue Начать тестирование
								.line
									.num 2
									.name Название теста два. Lorem Ipsum - это текст-"рыба
									.rating
										ul
											li.full
											li.full
											li
											li
											li
									.start
										a(href="#").btn-blue Начать тестирование
								.line
									.num 3
									.name Название теста пятьдетя - это текст-"рыба", часто используемый
									.rating
										ul
											li.full
											li.full
											li.full
											li.full
											li.full
									.start
										a(href="#").btn-blue Начать тестирование
								.line
									.num 1
									.name Название теста один. Lorem Ipsum - это текст-"рыба", часто используемый
									.rating
										ul
											li.full
											li.full
											li.full
											li.full
											li
									.start
										a(href="#").btn-blue Начать тестирование
								.line
									.num 2
									.name Название теста два. Lorem Ipsum - это текст-"рыба
									.rating
										ul
											li.full
											li.full
											li
											li
											li
									.start
										a(href="#").btn-blue Начать тестирование
								.line
									.num 99
									.name Название теста пятьдетя - это текст-"рыба", часто используемый
									.rating
										ul
											li.full
											li.full
											li.full
											li.full
											li.full
									.start
										a(href="#").btn-blue Начать тестирование
							.wbox-more
								a(href="#") показать еще
						.wbox-white#tab-2
							.empty-tab Вкладка для контента