doctype html
html(lang="ru")
	include _head

	body
		#shikarniy
			.sidebar
				.logo
					a(href="#")
				.user
					a(href="#").settings.hoverbg
						.icon
							.act
					.age.man (22)
					.pic
						img(src="img/content/user-ava.png", alt="")
					.name анастасия <br>Романовская
					.contacts
						div.phone 8 (916) 364-85-92
						div.email
							a(href="#") anastas@mail.com
				.menu
					ul
						li.home
							a(href="#") Мой профиль
						li.career.active
							a(href="#") Моя карьера
						li.work
							a(href="#") Моя работа
						li.educ
							a(href="#") Мое образование
				.logo-ibs
					a(href="#")
			//-----------------------------------------------
			.main-page
				.topper
					.main-width
						.info
							.exit
								a(href="#")
									.icon
							.notafication
								a(href="#")
									.icon
									.count 16
						.search
							form(action="#")
								input(type="text", placeholder="Поиск").filed
								input(type="submit", value="").submit
				//-----------------------------------------------
				.main-width
					.wbox
						.wbox-name.no-bd
							h2 Моя карьера
						.wbox-menu
							a(href="#").hoverbg
								.icon
									.act
					.wbox-tabs
						ul.tabs-nav
							li
								a(href="#tab-1") карьерные траектории 
							li
								a(href="#tab-2") профориентирование
						.wbox-white#tab-1
							.profession-box
								.intro
									.name Помощник бурильщика эксплуатационного и разведочного бурения скважин на нефть и газ (первый)
									.rating
										ul
											li.full
											li.full
											li.full
											li.full
											li
										.counts 2576
								.content
									.line
										.name
											h2 Общая характеристика профессиональной деятельности
										.box Бурильщик плавучего бурильного агрегата в море выполняет работы по ведению процесса бурения в море, установке и технической эксплуатации бурильного плавучего агрегата.
									.line
										.name
											h2 Виды экономической деятельности, в которых встречается данная профессия
										.box 11 - Добыча сырой нефти и природного газа; предоставление услуг в этих областях
									.line
										.name
											h2 Родственные профессии
										.box.simular
											table
												tr.top
													td.name Название профессии
													td.pic
													td.code Код
													td.rating Рейтинг
												tr
													td.name Помощник бурильщика плавучего бурильного агрегата в море
													td.pic
														img(src="img/main/i-circle-color.png", alt="")
													td.code 16839
													td.rating
														ul
															li.full
															li.full
															li.full
															li.full
															li
												tr
													td.name Оператор по подготовке скважин к капитальному и подземному ремонтам
													td.pic
														img(src="img/main/i-circle-color.png", alt="")
													td.code 78451
													td.rating
														ul
															li.full
															li.full
															li.full
															li.full
															li.full
									.line
										.name
											h2 Основные виды работ (трудовые действия)
										.box
											ul.list-sq.mrno
												li бурение шурфов под сваи оснований морских буровых установок;
												li спуск, подъем бурильного инструмента, заливочных труб и арматуры;
									.line
										.name
											h2 Дополнительные материалы по профессии/специальности
										.box
											| Бурильщик должен обладать крепким здоровьем, быть физически развитым, иметь нормальный слух и зрение. Наряду с этим он должен обладать хорошим глазомером, координацией движений. Иметь техническое мышление, быть внимательным, ответственным, коммуникабельным.
									.line
										.name
											h2 Родственные профессии
										.box.simular
											table
												tr.top
													td.name Название профессии
													td.pic
													td.code Код
													td.rating Рейтинг
												tr
													td.name Помощник бурильщика плавучего бурильного агрегата в море
													td.pic
														img(src="img/main/i-circle-color.png", alt="")
													td.code 16839
													td.rating
														ul
															li.full
															li.full
															li.full
															li.full
															li
												tr
													td.name Оператор по подготовке скважин к капитальному и подземному ремонтам
													td.pic
														img(src="img/main/i-circle-color.png", alt="")
													td.code 78451
													td.rating
														ul
															li.full
															li.full
															li.full
															li.full
															li.full
							.wbox-more
								a(href="#") показать еще
						.wbox-white#tab-2
							.empty-tab Вкладка для контента